<head>
      <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
   
<form class="form-horizontal" ng-submit="product.saveProduct()">
    <div class="form-group">
        <label>Product Name</label>
        <input type="title" class="form-control" ng-model="product.productData.title" placeholder="name">
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="price" class="form-control" ng-model="product.productData.price" placeholder="price">
    </div>
    <div class="form-group">
        <label>Stock</label>
        <input type="stock" class="form-control" ng-model="product.productData.stock" placeholder="stock">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="description" class="form-control" ng-model="product.productData.description" placeholder="description">
    </div>
    <div class="form-group">
        <label>Upload Image</label>
        <input type="file" class="form-control" ng-model="product.productData.imageUrl">    
    </div>

    <button type="submit" class="btn btn-primary" ng-if="product.type == 'create'">Add Product</button>
</form>