<div class="jumbotron text-center"> <h1>Product Lists</h1>

    <table class="table table-bordered table-striped" ng-show="product.products">
        <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in product.products">
            <td>{{ item.title }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.stock }}</td>
            <td>{{ item.description }}</td>
            <td>
                <a ng-href="admin/products/{{ item._id }}" class="btn btn-info">Check</a>
                <a href="#" ng-click="product.deleteProduct(item._id)" class="btn btn-primary">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

