<div class="jumbotron text-center"> <h1>User Lists</h1>
    <table class="table table-bordered table-striped" ng-show="adminUser.users">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in adminUser.users">
            <td>{{ user._id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>

        </tr>
        </tbody>
    </table>
</div>
